# Warden Configuration
TZ=UTC
PORT=8081
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=fakeappkeyfortest
NODE_ENV=development
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USER=warden_user
DB_PASSWORD='password'
DB_DATABASE=warden_db

# MySQL Configuration
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD='password'
MYSQL_USER=warden_user
MYSQL_PASSWORD='password'
MYSQL_DATABASE=warden_db

# SMTP Server Configuration
SMTP_HOST=mailpit
SMTP_PORT=1025
MP_SMTP_AUTH='user:password'
SMTP_USERNAME=user
SMTP_PASSWORD='password'
MAIL_FROM_ADDRESS=contact@sleeved.fr
MAIL_FROM_NAME=Sleeved App